@import url("archives/header.css");
@import url("archives/login_e_register.css");
@import url("archives/new_movie.css");
@import url("archives/home.css");
@import url("archives/edit-proifile.css");
@import url("archives/dashboard.css");
@import url("archives/movie.css");
@import url("archives/footer.css");

.bold {
  font-weight: bold;
}

.msg-container {
  background: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #fdd7da;
  border-color: #f5c2c7;
}

.msg.success {
  color: #0f5132;
  background-color: #d8fdcc;
  border-color: #ccf5c2;
}
