@import url("archives/header.css");
@import url("archives/login_e_register.css");
@import url("archives/new_movie.css");
@import url("archives/home.css");
@import url("archives/edit-proifile.css");
@import url("archives/dashboard.css");
@import url("archives/movie.css");
@import url("archives/editmovie.css");
@import url("archives/profile.css");
@import url("archives/footer.css");

.bold {
  font-weight: bold;
}

.msg-container {
  background: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #fdd7da;
  border-color: #f5c2c7;
}

.msg.success {
  color: #0f5132;
  background-color: #d8fdcc;
  border-color: #ccf5c2;
}

.card-btn {
  color: #000;
  background-color: #f5c518;
  border: 2px solid #f5c518;
  width: 100%;
  transition: 0.2s;
}

.card-btn:hover {
  background-color: transparent;
  color: #f5c518;
  border-color: #f5c518;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn,
#review-form .card-btn,
#edit-movie-form .card-btn {
  width: auto;
}

@media (max-width: 450px) {
  .msg {
    width: 100%;
  }
}
