/* NavBar */
.navbar-brand {
  position: relative;
}

#logo {
  width: 50px;
}

#moviestar-title {
  color: #fff;
  position: absolute;
  bottom: -2px;
  font-size: 30px;
  left: 55px;
  font-weight: bold;
}

#main-navbar {
  background-color: #121212;
}

#search-form {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
}

#search-form .form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #999;
}

.bold {
  font-weight: bold;
}

.msg-container {
  background: #000;
  padding: 15px;
}

.msg {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: #842029;
  background-color: #fdd7da;
  border-color: #f5c2c7;
}

.msg.success {
  color: #0f5132;
  background-color: #d8fdcc;
  border-color: #ccf5c2;
}

/* Home */

#main-container {
  background-color: #000;
  color: #fff;
  min-height: 65vh;
  padding: 40px;
}

/* Login e Register  */
.auth-row {
  justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
  text-align: center;
  border-bottom: 2px solid #f5c518;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}

#login-container form,
#register-container form {
  max-width: 400px;
  margin: 30px auto;
}

.card-btn {
  color: #000;
  background-color: #f5c518;
  border: 2px solid #f5c518;
  width: 100%;
  transition: 0.2s;
}

.card-btn:hover {
  background-color: transparent;
  color: #f5c518;
  border-color: #f5c518;
}

/* New Movie */
.new-movie-container {
  text-align: center;
}

#add-movie-form {
  text-align: left;
}

.page-title::after {
  content: "";
  width: 300px;
  border-bottom: 2px solid #f5c518;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}

/* Home */

#main-container {
  background-color: #000;
  color: #fff;
  min-height: 65vh;
  padding: 40px;
}

.section-title {
  font-size: 24px;
  border-left: 4px solid #f5c518;
  padding-left: 12px;
  margin-top: 20px;
}

.section-description {
  color: #ccc;
  font-size: 18px;
}

.movies-container {
  margin: 0 -15px;
}

.wrapper-movies {
  display: flex;
}

.movie-card {
  background-color: #1a1a1a;
  width: 18%;
  margin-bottom: 30px;
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.movie-card .card-img-top {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-title {
  height: 3rem;
}

.card-title a {
  font-size: 16px;
  color: #fff;
}

.fas.fa-star {
  color: #f5c518;
}

.rating {
  color: #ccc;
}

.rate-btn {
  margin-bottom: 15px;
  color: #5799ef;
  background-color: #333;
  border-color: #333;
  width: 100%;
  font-weight: bold;
}

.rate-btn:hover {
  background-color: #444;
  border-color: #444;
}

.empty-list {
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
}

/* Edit Profile */
#profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #f5c518;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.page-description {
  color: #8a8484;
}

#bio {
  max-width: 400px;
}

.disabled {
  background-color: #ccc;
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn {
  width: auto;
}

/* Dashboard */

#add-movie-container {
  text-align: right;
}

#movies-dashboard {
  width: auto;
}

#movies-dashboard .table {
  color: #fff;
}

#movies-dashboard .table th {
  border-top: none;
}

#movies-dashboard .table tr {
  padding: 15px 0;
}

.table-movie-title {
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.table-movie-title:hover {
  color: #f5c518;
}

.actions-column {
  max-width: 75px;
  text-align: center;
}

.actions-column form {
  display: inline-block;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
}

.edit-btn {
  background-color: #0dcaf0;
  color: #fff;
}

.edit-btn:hover {
  background-color: transparent;
  color: #0dcaf0;
  text-decoration: none;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: transparent;
  color: #dc3545;
  text-decoration: none;
}

/* Footer */
#footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#social-container ul,
#footer-links-container ul {
  list-style: none;
  padding: 0;
}

#social-container li,
#footer-links-container li {
  display: inline-block;
  margin: 0 20px;
}

#social-container li {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  transition: 0.5s;
  line-height: 3;
}

#social-container li:hover {
  background-color: #333;
}

#social-container a,
#footer-links-container a {
  color: #fff;
  transition: 0.5s;
}

#social-container li i {
  font-size: 25px;
}

#footer-links-container {
  margin: 30px 0;
}
