#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #f5c518;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.page-description {
  color: #8a8484;
}

#bio {
  max-width: 400px;
}

.disabled {
  background-color: #ccc;
}

#change-password-container {
  margin-top: 30px;
}
