.new-movie-container {
  text-align: center;
}

#add-movie-form {
  text-align: left;
}

.page-title::after {
  content: "";
  width: 300px;
  border-bottom: 2px solid #f5c518;
  display: block;
  margin: 0 auto;
  padding-top: 7px;
}
